html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.wbox {
    width: 60%;
    margin: 3em auto;
}

.wboxline {
    text-align: center;
    margin: 0.5em auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: rgb(255, 245, 174);
}

th, td {
    border: solid;
}
